langchain
langchain-community
langchain-core
llama-index
llama-index-core
llama-index-embeddings-adapter
llama-index-embeddings-huggingface
llama-index-embeddings-langchain
llama-index-embeddings-openai
llama-index-finetuning
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai
llama-index-llms-openai
openai
pydantic
sentence-transformers
tqdm
transformers
setuptools
twine
wheel